<app-header></app-header>
<div class="d-flex flex-column" id="sect1">
  <div class="p-2">
    <div class="d-flex justify-content-around">
      <div class="img-box" (click)="navigate_MapHolland('Investigativ')">
        <img matTooltip="Afla mai multe despre investigativ" src="assets/map-Holland/investigativ.png" alt="investigativ">
      </div>

      <div class="img-box" (click)="navigate_MapHolland('Social')">
        <img matTooltip="Afla mai multe despre social" src="assets/map-Holland/social.png" alt="social">
      </div>

      <div class="img-box" (click)="navigate_MapHolland('Artistic')">
        <img matTooltip="Afla mai multe despre artist" src="assets/map-Holland/artist.png" alt="investigativ">
      </div>

    </div>
  </div>

  <div class="p-2">
    <div class="d-flex justify-content-around">
      <div class="img-box" (click)="navigate_MapHolland('Antreprenorial')">
        <img matTooltip="Afla mai multe despre antreprenor" src="assets/map-Holland/antreprenor.png" alt="investigativ">
      </div>
      <div class="img-box" (click)="navigate_MapHolland('Realist')">
        <img matTooltip="Afla mai multe despre realist" src="assets/map-Holland/realist.png" alt="investigativ">
      </div>

      <div class="img-box" (click)="navigate_MapHolland('Conven?ional')">
        <img matTooltip="Afla mai multe despre conventional" src="assets/map-Holland/conventional.png"
          alt="investigativ">
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
