<section class="experience_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="img-box">
          <img src="assets/images/experience-img.jpg" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Descoperă Facultatea Potrivită Prin Gama Noastră de Teste </h2>
          </div>
          <p>
            Acest test îți oferă un ghid personalizat în căutarea facultății potrivite. Evaluând abilitățile, interesele
            și obiectivele tale, testul nostru te ajută să identifici domeniile academice care se potrivesc cel mai bine
            profilului tău. Astfel, vei lua decizia informată și vei aborda încrezător următorul pas în educația ta.
          </p>
          <div class="btn-box">
            <a href="" class="btn-1">
              Read More
            </a>
            <a href="" class="btn-2">
              Hire
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>