<!-- freelance section -->
<section class="freelance_section ">
  <div id="accordion">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 offset-md-1">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Statistici
              </h2>
            </div>
            <div class="tab_container">
              <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                <div class="img-box">
                  <img src="assets/images/mind1.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    100%
                  </h5>
                  <h3>
                    Recomandat de specialisti
                  </h3>
                </div>
              </div>
              <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                <div class="img-box">
                  <img src="assets/images/mind2.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    100%
                  </h5>
                  <h3>
                    Acuratete
                  </h3>
                </div>
              </div>
              <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                <div class="img-box">
                  <img src="assets/images/mind4.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    700+
                  </h5>
                  <h3>
                    Utilizatori inregistrati
                  </h3>
                </div>
              </div>
              <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                aria-controls="collapseFour">
                <div class="img-box">
                  <img src="assets/images/f4.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    98%
                  </h5>
                  <h3>
                    Utilizatori <br>
                    multumiti
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="img-box">
              <img src="assets/images/ask.png" alt="quiz">
            </div>
          </div>
          <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="img-box">
              <img src="assets/images/freelance-img.jpg" alt="">
            </div>
          </div>
          <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="img-box">
              <img src="assets/images/freelance-img.jpg" alt="">
            </div>
          </div>
          <div class="collapse" id="collapseFour" aria-labelledby="headingfour" data-parent="#accordion">
            <div class="img-box">
              <img src="assets/images/freelance-img.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
