<section class="client_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-10 mx-auto">
        <div class="heading_container">
          <h2>
            Opinii
          </h2>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="detail-box">
                <h4>
                  John Hissona
                </h4>
                <p>
                  Ca utilizator, am fost impresionat de platforma de a afla ce facultate mi se potrivește. A fost o
                  experiență captivantă și interactivă, care m-a ghidat pas cu pas în procesul de descoperire a
                  opțiunilor academice potrivite pentru mine. Testele personalizate au fost relevante și m-au ajutat să
                  îmi identific interesele, abilitățile și valoriile, oferindu-mi o înțelegere mai profundă a direcției
                  pe care doresc să o urmez în învățământul superior. </p>
                <img src="assets/images/quote.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="detail-box">
                <h4>
                  John Hissona
                </h4>
                <p>
                  passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
                  humour, or randomised words which don't look even slightly believable. If youThere are many variations
                  of passages of Lorem Ipsum available, but the majority have suffered alteration in s
                </p>
                <img src="assets/images/quote.png" alt="">
              </div>
            </div>
            <div class="carousel-item">
              <div class="detail-box">
                <h4>
                  John Hissona
                </h4>
                <p>
                  passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected
                  humour, or randomised words which don't look even slightly believable. If youThere are many variations
                  of passages of Lorem Ipsum available, but the majority have suffered alteration in s
                </p>
                <img src="assets/images/quote.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
