<div *ngIf="!componentaAdaugata && !loading">
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="header">Alege dintr-o varietate de teste disponibile pentru a-ți orienta cariera:</h1>
  </div>

  <div class="d-flex justify-content-center">
    <mat-form-field>
      <mat-label>Alege testul potrivit</mat-label>
      <mat-select (selectionChange)="onSelect($event.value)">
        <mat-option *ngFor="let item of tests" [value]="item">{{ item.denumire_test }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="loading-container" *ngIf="loading">
  <ngx-spinner type="ball-scale-multiple" [fullScreen]="false" color="#00ecd8">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
</div>

<div [ngSwitch]="selectedTest">
  <app-passion-based-quiz *ngSwitchCase="'Test bazat pe pasiuni'"></app-passion-based-quiz>
</div>

<div [ngSwitch]="selectedTest">
  <app-holland-quiz *ngSwitchCase="'Test Holland'"></app-holland-quiz>
</div>
